In [1]:
from bs4 import BeautifulSoup
import urllib
import pandas as pd
import numpy as np

In [2]:
def make_list(rows):
    list_data = []
    head =[row.find_all('th') for row in rows]
    list_data.append([ele.text.strip() for ele in head[0]])
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        list_data.append([ele for ele in cols if ele !=[]])
    return list_data

In [3]:
url_auction_2008='https://en.wikipedia.org/wiki/2008_Indian_Premier_League'
auction_2008 = urllib.request.urlopen(url_auction_2008)
auc_html_2008 = BeautifulSoup(auction_2008,'lxml')
auc_rows = auc_html_2008.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

In [4]:
list_auc_2008 = make_list(auc_rows)

In [5]:
df_auc_2008 = pd.DataFrame(list_auc_2008[2:], columns = list_auc_2008[0])

In [6]:
df_auc_2008

,Nat,Player,Franchise,Price (USD)
0,,"Dhoni, Mahendra SinghMahendra Singh Dhoni",Chennai Super Kings,"1,500,000"
1,,"Gilchrist, AdamAdam Gilchrist",Deccan Chargers,"700,000"
2,,"Muralitharan, MuttiahMuttiah Muralitharan",Chennai Super Kings,"600,000"
3,,"Jayawardene, MahelaMahela Jayawardene",Kings XI Punjab,"475,000"
4,,"Warne, ShaneShane Warne",Rajasthan Royals,"450,000"
5,,"Akhtar, ShoaibShoaib Akhtar",Kolkata Knight Riders in 2008,"425,000"
6,,"Kumble, AnilAnil Kumble",Royal Challengers Bangalore in 2008,"500,000"
7,,"Singh, HarbhajanHarbhajan Singh",Mumbai Indians,"850,000"
8,,"Jayasuriya, SanathSanath Jayasuriya",Mumbai Indians,"975,000"
9,,"Sangakkara, KumarKumar Sangakkara",Kings XI Punjab,"700,000"
10,,"Ponting, RickyRicky Ponting",Kolkata Knight Riders in 2008,"400,000"
11,,"Lee, BrettBrett Lee",Kings XI Punjab,"900,000"
12,,"Symonds, AndrewAndrew Symonds",Deccan Chargers,"1,350,000"
13,,"Vettori, DanielDaniel Vettori",Delhi Daredevils in 2008,"625,000"
14,,"Hayden, MatthewMatthew Hayden",Chennai Super Kings,"375,000"
15,,"McCullum, BrendonBrendon McCullum",Kolkata Knight Riders in 2008,"700,000"
16,,"Oram, JacobJacob Oram",Chennai Super Kings,"675,000"
17,,"Fleming, StephenStephen Fleming",Chennai Super Kings,"350,000"
18,,"Smith, GraemeGraeme Smith",Rajasthan Royals,"250,000"
19,,"Gibbs, HerschelleHerschelle Gibbs",Deccan Chargers,"575,000"
20,,"Gayle, ChrisChris Gayle",Kolkata Knight Riders in 2008,"800,000"
21,,"Malik, ShoaibShoaib Malik",Delhi Daredevils in 2008,"500,000"
22,,"Afridi, ShahidShahid Afridi",Deccan Chargers,"675,000"
23,,"Khan, YounisYounis Khan",Rajasthan Royals,"225,000"
24,,"Asif, MohammadMohammad Asif",Delhi Daredevils in 2008,"650,000"
25,,"Kallis, JacquesJacques Kallis",Royal Challengers Bangalore in 2008,"900,000"
26,,"Khan, ZaheerZaheer Khan",Royal Challengers Bangalore in 2008,"450,000"
27,,Sreesanth,Kings XI Punjab,"625,000"
28,,"Karthik, DineshDinesh Karthik",Delhi Daredevils in 2008,"525,000"
29,,"de Villiers, ABAB de Villiers",Delhi Daredevils in 2008,"300,000"
...,...,...,...,...
45,,"Laxman, V. V. S.V. V. S. Laxman",Deccan Chargers,"375,000"
46,,"Jaffer, WasimWasim Jaffer",Royal Challengers Bangalore in 2008,"150,000"
47,,"Sharma, RohitRohit Sharma",Deccan Chargers,"750,000"
48,,"Kaif, MohammadMohammad Kaif",Rajasthan Royals,"675,000"
49,,"Raina, SureshSuresh Raina",Chennai Super Kings,"650,000"
50,,"Tiwary, ManojManoj Tiwary",Delhi Daredevils in 2008,"675,000"
51,,"Silva, ChamaraChamara Silva",Deccan Chargers,"100,000"
52,,"Hussey, DavidDavid Hussey",Kolkata Knight Riders in 2008,"625,000"
53,,"Bracken, NathanNathan Bracken",Royal Challengers Bangalore in 2008,"325,000"
54,,"Singh, R. P.R. P. Singh",Deccan Chargers,"875,000"
55,,"Kartik, MuraliMurali Kartik",Kolkata Knight Riders in 2008,"425,000"
56,,"Ntini, MakhayaMakhaya Ntini",Chennai Super Kings,"200,000"
57,,"Malinga, LasithLasith Malinga",Mumbai Indians,"350,000"
58,,"Vaas, ChamindaChaminda Vaas",Deccan Chargers,"200,000"
59,,"Powar, RameshRamesh Powar",Kings XI Punjab,"170,000"
60,,"Gul, UmarUmar Gul",Kolkata Knight Riders in 2008,"150,000"
61,,"Steyn, DaleDale Steyn",Royal Challengers Bangalore in 2008,"325,000"
62,,"Fernando, DilharaDilhara Fernando",Mumbai Indians,"150,000"
63,,"Sharma, IshantIshant Sharma",Kolkata Knight Riders in 2008,"950,000"
64,,"Chawla, PiyushPiyush Chawla",Kings XI Punjab,"400,000"
65,,"Patel, MunafMunaf Patel",Rajasthan Royals,"275,000"
66,,"Zoysa, NuwanNuwan Zoysa",Deccan Chargers,"110,000"
67,,"McGrath, GlennGlenn McGrath",Delhi Daredevils in 2008,"350,000"
68,,"Hussey, MichaelMichael Hussey",Chennai Super Kings,"250,000"
69,,"Taibu, TatendaTatenda Taibu",Kolkata Knight Riders in 2008,"125,000"
70,,"Sarwan, RamnareshRamnaresh Sarwan",Kings XI Punjab,"225,000"
71,,"Katich, SimonSimon Katich",Kings XI Punjab,"200,000"
72,,"Langer, JustinJustin Langer",Rajasthan Royals,"200,000"
73,,"Chanderpaul, ShivnarineShivnarine Chanderpaul",Royal Challengers Bangalore in 2008,"200,000"
74,,"Bosman, LootsLoots Bosman",Mumbai Indians,"150,000"

In [7]:
url_auction_2009='https://en.wikipedia.org/wiki/List_of_2009_Indian_Premier_League_personnel_changes#Auction'
auction_2009 = urllib.request.urlopen(url_auction_2009)
auc_html_2009 = BeautifulSoup(auction_2009,'lxml')
auc_rows = auc_html_2009.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

In [8]:
list_auc_2009 = make_list(auc_rows)

In [9]:
df_auc_2009 = pd.DataFrame(list_auc_2009[2:], columns = list_auc_2009[0])

In [10]:
df_auc_2009

               Nat             Player Team Winning bid  Base price
0      Australia !         Shaun Tait         $375,000    $250,000
1   South Africa !          JP Duminy         $950,000    $300,000
2        England !    Andrew Flintoff       $1,550,000    $950,000
3        England !    Kevin Pietersen       $1,550,000  $1,350,000
4    West Indies !      Fidel Edwards         $150,000    $150,000
5        England !         Owais Shah         $275,000    $150,000
6        England !   Paul Collingwood         $275,000    $250,000
7   South Africa !    Tyron Henderson         $650,000    $100,000
8        England !        Ravi Bopara         $450,000    $150,000
9      Sri Lanka !    Thilan Thushara         $140,000    $100,000
10   New Zealand !        Jesse Ryder         $160,000    $100,000
11   New Zealand !         Kyle Mills         $150,000    $150,000
12   West Indies !       Dwayne Smith         $100,000    $100,000
13   West Indies !      Jerome Taylor         $150,000    $150,000
14    Bangladesh !  Mohammad Ashraful          $75,000     $75,000
15    Bangladesh !   Mashrafe Mortaza         $600,000     $50,000
16     Australia !      George Bailey          $50,000     $50,000

In [11]:
url_auction_2010='https://en.wikipedia.org/wiki/List_of_2010_Indian_Premier_League_personnel_changes'
auction_2010 = urllib.request.urlopen(url_auction_2010)
auc_html_2010 = BeautifulSoup(auction_2010,'lxml')
auc_rows = auc_html_2010.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

In [12]:
list_auc_2010 = make_list(auc_rows)

In [13]:
df_auc_2010 = pd.DataFrame(list_auc_2010[2:], columns = list_auc_2010[0])

In [14]:
df_auc_2010

,Player,Franchise,Sold price (USD),Base price (USD)
0,"Bond, ShaneShane Bond†",Kolkata Knight Riders,"750,000",100000
1,"Pollard, KieronKieron Pollard†",Mumbai Indians,"750,000","200,000"
2,"Roach, KemarKemar Roach",Deccan Chargers,"720,000","100,000"
3,"Parnell, WayneWayne Parnell",Delhi Daredevils,"610,000","200,000"
4,"Kaif, MohammadMohammad Kaif",Kings XI Punjab,"250,000","100,000"
5,"Morgan, EoinEoin Morgan",Royal Challengers Bangalore,"220,000","200,000"
6,"Martyn, DamienDamien Martyn",Rajasthan Royals,"100,000","100,000"
7,"Kemp, JustinJustin Kemp",Chennai Super Kings,"100,000","100,000"
8,"Perera, ThissaraThissara Perera",Chennai Super Kings,"50,000","50,000"
9,"Voges, AdamAdam Voges",Rajasthan Royals,"50,000","50,000"
10,"Abdulla, YusufYusuf Abdulla",Kings XI Punjab,"50,000","50,000"

In [15]:
url_auction_2011='https://en.wikipedia.org/wiki/List_of_2011_Indian_Premier_League_personnel_changes'
auction_2011 = urllib.request.urlopen(url_auction_2011)
auc_html_2011 = BeautifulSoup(auction_2011,'lxml')
auc_rows = auc_html_2011.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

In [16]:
list_auc_2011 = make_list(auc_rows)

In [17]:
df_auc_2011 = pd.DataFrame(list_auc_2011[2:], columns = list_auc_2011[0])

In [18]:
df_auc_2011

,Nat,Player,Team,Winning bid,Base price
0,India !,"Gambhir, GautamGautam Gambhir",Kolkata Knight Riders,"$2,400,000","$200,000"
1,India !,"Pathan, YusufYusuf Pathan",Kolkata Knight Riders,"$2,100,000","$300,000"
2,India !,"Uthappa, RobinRobin Uthappa",Pune Warriors India,"$2,100,000","$200,000"
3,India !,"Sharma, RohitRohit Sharma",Mumbai Indians,"$2,000,000","$200,000"
4,India !,"Pathan, IrfanIrfan Pathan",Delhi Daredevils,"$1,900,000","$200,000"
5,India !,"Singh, YuvrajYuvraj Singh",Pune Warriors India,"$1,800,000","$400,000"
6,India !,"Tiwary, SaurabhSaurabh Tiwary",Royal Challengers Bangalore,"$1,600,000","$100,000"
7,Sri Lanka !,"Jayawardene, MahelaMahela Jayawardene",Kochi Tuskers Kerala,"$1,500,000","$400,000"
8,Australia !,"Hussey, DavidDavid Hussey",Kings XI Punjab,"$1,400,000","$200,000"
9,South Africa !,"Steyn, DaleDale Steyn",Deccan Chargers,"$1,200,000","$200,000"
10,Sri Lanka !,"Muralitharan, MuttiahMuttiah Muralitharan",Kochi Tuskers Kerala,"$1,100,000","$300,000"
11,Australia !,"White, CameronCameron White",Deccan Chargers,"$1,100,000","$300,000"
12,South Africa !,"Kallis, JacquesJacques Kallis",Kolkata Knight Riders,"$1,100,000","$300,000"
13,South Africa !,"de Villiers, ABAB de Villiers",Royal Challengers Bangalore,"$1,100,000","$400,000"
14,New Zealand !,"Taylor, RossRoss Taylor",Rajasthan Royals,"$1,000,000","$400,000"
15,Sri Lanka !,"Mathews, AngeloAngelo Mathews",Pune Warriors India,"$950,000","$200,000"
16,India !,"Jadeja, RavindraRavindra Jadeja",Kochi Tuskers Kerala,"$950,000","$100,000"
17,South Africa !,"Botha, JohanJohan Botha",Rajasthan Royals,"$950,000","$200,000"
18,India !,"Karthik, DineshDinesh Karthik",Kings XI Punjab,"$900,000","$200,000"
19,India !,"Chawla, PiyushPiyush Chawla",Kings XI Punjab,"$900,000","$100,000"
20,India !,Sreesanth,Kochi Tuskers Kerala,"$900,000","$200,000"
21,Australia !,"Gilchrist, AdamAdam Gilchrist",Kings XI Punjab,"$900,000","$400,000"
22,India !,"Khan, ZaheerZaheer Khan",Royal Challengers Bangalore,"$900,000","$300,000"
23,Australia !,"Christian, DanDan Christian",Deccan Chargers,"$900,000","$50,000"
24,India !,"Ashwin, RavichandranRavichandran Ashwin",Chennai Super Kings,"$850,000","$100,000"
25,India !,"Nehra, AshishAshish Nehra",Pune Warriors India,"$850,000","$200,000"
26,Australia !,"Symonds, AndrewAndrew Symonds",Mumbai Indians,"$850,000","$300,000"
27,India !,"Badrinath, SubramaniamSubramaniam Badrinath",Chennai Super Kings,"$800,000","$100,000"
28,India !,"Kumar, PraveenPraveen Kumar",Kings XI Punjab,"$800,000","$200,000"
29,India !,"Nayar, AbhishekAbhishek Nayar",Kings XI Punjab,"$800,000","$50,000"
...,...,...,...,...,...
97,Jamaica !,"Taylor, JeromeJerome Taylor",Pune Warriors India,"$100,000","$100,000"
98,Australia !,"Pattinson, JamesJames Pattinson",Kolkata Knight Riders,"$100,000","$100,000"
99,South Africa !,"Thomas, AlfonsoAlfonso Thomas",Pune Warriors India,"$100,000","$50,000"
100,Sri Lanka !,"Kulasekara, NuwanNuwan Kulasekara",Chennai Super Kings,"$100,000","$100,000"
101,Australia !,"Wade, MatthewMatthew Wade",Delhi Daredevils,"$100,000","$100,000"
102,England !,"Mascarenhas, DimitriDimitri Mascarenhas",Kings XI Punjab,"$100,000","$100,000"
103,South Africa !,"Ingram, ColinColin Ingram",Delhi Daredevils,"$100,000","$100,000"
104,Australia !,"Hilfenhaus, BenBen Hilfenhaus",Chennai Super Kings,"$100,000","$100,000"
105,India !,"Singh, PankajPankaj Singh",Rajasthan Royals,"$95,000","$50,000"
106,South Africa !,"Theron, RustyRusty Theron",Deccan Chargers,"$85,000","$50,000"
107,Sri Lanka !,"Randiv, SurajSuraj Randiv",Chennai Super Kings,"$80,000","$50,000"
108,Australia !,"Hastings, JohnJohn Hastings",Kochi Tuskers Kerala,"$20,000","$20,000"
109,Australia !,"McDonald, AndrewAndrew McDonald",Delhi Daredevils,"$80,000","$50,000"
110,Sri Lanka !,"Perera, ThissaraThissara Perera",Kochi Tuskers Kerala,"$80,000","$50,000"
111,England !,"Lumb, MichaelMichael Lumb",Deccan Chargers,"$80,000","$50,000"
112,Australia !,"Klinger, MichaelMichael Klinger",Kochi Tuskers Kerala,"$75,000","$20,000"
113,South Africa !,"van der Wath, JohanJohan van der Wath",Royal Challengers Bangalore,"$50,000","$50,000"
114,Australia !,"Henriques, MoisesMoises Henriques",Mumbai Indians,"$50,000","$50,000"
115,Australia !,"Bailey, GeorgeGeorge Bailey",Chennai Super Kings,"$50,000","$50,000"
116,South Africa !,"van der Merwe, RoelofRoelof van der Merwe",Delhi Daredevils,"$50,000","$50,000"
117,Australia !,"Pomersbach, LukeLuke Pomersbach",Royal Challengers Bangalore,"$50,000","$20,000"
118,South Africa !,"Rossouw, RileeRilee Rossouw",Royal Challengers Bangalore,"$20,000","$20,000"
119,Sri Lanka !,"Pradeep, NuwanNuwan Pradeep",Royal Challengers Bangalore,"$20,000","$20,000"
120,Australia !,"Lynn, ChrisChris Lynn",Deccan Chargers,"$20,000","$20,000"
121,Australia !,"Birt, TravisTravis Birt",Delhi Daredevils,"$20,000","$20,000"
122,Australia !,"Rimmington, NathanNathan Rimmington",Kings XI Punjab,"$20,000","$20,000"
123,South Africa !,"Vandiar, JonathanJonathan Vandiar",Royal Challengers Bangalore,"$20,000","$20,000"
124,Australia !,"Blizzard, AidenAiden Blizzard",Mumbai Indians,"$20,000","$20,000"
125,South Africa !,"Frylinck, RobertRobert Frylinck",Delhi Daredevils,"$20,000","$20,000"
126,Australia !,"O'Keefe, StephenStephen O'Keefe",Kochi Tuskers Kerala,"$20,000","$20,000"

In [19]:
url_auction_2012='https://en.wikipedia.org/wiki/List_of_2012_Indian_Premier_League_personnel_changes'
auction_2012 = urllib.request.urlopen(url_auction_2012)
auc_html_2012 = BeautifulSoup(auction_2012,'lxml')

In [20]:
auc_rows = auc_html_2012.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[3].find_all('tr')

In [21]:
list_auc_2012 = make_list(auc_rows)

In [22]:
df_auc_2012 = pd.DataFrame(list_auc_2012[2:], columns = list_auc_2012[0])

In [66]:
auc_2012 = df_auc_2012[['Player','Team','Base price','Winning bid']]

In [24]:
url_auction_2013='https://en.wikipedia.org/wiki/List_of_2013_Indian_Premier_League_personnel_changes'
auction_2013 = urllib.request.urlopen(url_auction_2013)
auc_html_2013 = BeautifulSoup(auction_2013,'lxml')
auc_rows = auc_html_2013.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[2].find_all('tr')

In [25]:
list_auc_2013 = make_list(auc_rows)

In [26]:
df_auc_2013 = pd.DataFrame(list_auc_2013[2:], columns = list_auc_2013[0])

In [65]:
auc_2013= df_auc_2013[['Player','Team','Base price','Winning bid']]

In [28]:
url_auction_2014='https://en.wikipedia.org/wiki/List_of_2014_Indian_Premier_League_personnel_changes'
auction_2014 = urllib.request.urlopen(url_auction_2014)
auc_html_2014 = BeautifulSoup(auction_2014,'lxml')
auc_rows = auc_html_2014.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[1].find_all('tr')

In [29]:
list_auc_2014 = make_list(auc_rows)

In [30]:
df_auc_2014 = pd.DataFrame(list_auc_2014[2:], columns = list_auc_2014[0])

In [64]:
auc_2014 = df_auc_2014[['Name','IPL 2014 Team','Reserve Price in Lakhs in INR','Auctioned Price in Lakhs in INR']]

In [32]:
url_auction_2015='https://en.wikipedia.org/wiki/List_of_2015_Indian_Premier_League_personnel_changes'
auction_2015 = urllib.request.urlopen(url_auction_2015)
auc_html_2015 = BeautifulSoup(auction_2015,'lxml')
auc_rows = auc_html_2015.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[1].find_all('tr')

In [33]:
list_auc_2015 = make_list(auc_rows)

In [34]:
df_auc_2015 = pd.DataFrame(list_auc_2015[2:], columns = list_auc_2015[0])

In [67]:
df_auc_2015.columns = ['Name','Nat','IPL Matches','IPL teams','IPL 2014 team','Capped / uncapped','Base Price','IPL 2015 team','Auctioned price']

auc_2015 = df_auc_2015[['Name','IPL 2015 team','Base Price','Auctioned price']]

In [36]:
url_auction_2016='https://en.wikipedia.org/wiki/List_of_2016_Indian_Premier_League_personnel_changes'
auction_2016 = urllib.request.urlopen(url_auction_2016)
auc_html_2016 = BeautifulSoup(auction_2016,'lxml')
auc_rows = auc_html_2016.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[1].find_all('tr')

In [37]:
list_auc_2016 = make_list(auc_rows)

In [38]:
df_auc_2016 = pd.DataFrame(list_auc_2016[2:], columns = list_auc_2016[0])

In [68]:
df_auc_2016.columns = ['Nat','Player','team','Base Price','Winning bid']

auc_2016=df_auc_2016[['Player','team','Base Price','Winning bid']]

In [40]:
url_auction_2017 ='https://en.wikipedia.org/wiki/List_of_2017_Indian_Premier_League_personnel_changes'
auction_2017 = urllib.request.urlopen(url_auction_2017)
auc_html_2017 = BeautifulSoup(auction_2017,'lxml')
auc_rows = auc_html_2017.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[0].find_all('tr')

In [41]:
list_auc_2017 = make_list(auc_rows)

In [42]:
df_auc_2017 = pd.DataFrame(list_auc_2017[2:], columns = list_auc_2017[0])

In [69]:
df_auc_2017.columns = ['Nat','Player','team','Base Price','Winning bid']

auc_2017 = df_auc_2017[['Player','team','Base Price','Winning bid']]

In [70]:
auc_2012

,Player,Team,Base price,Winning bid
0,"McCullum, BrendonBrendon McCullum",Kolkata Knight Riders,"$400,000","$900,000"
1,"Jadeja, RavindraRavindra Jadeja",Chennai Super Kings,"$100,000","$2,000,000"
2,"Muralitharan, MuttiahMuttiah Muralitharan",Royal Challengers Bangalore,"$200,000","$220,000"
3,"Jayawardene, MahelaMahela Jayawardene",Delhi Daredevils,"$300,000","$1,400,000"
4,"Gibbs, HerschelleHerschelle Gibbs",Mumbai Indians,"$50,000","$50,000"
5,"Hodge, BradBrad Hodge",Rajasthan Royals,"$200,000","$475,000"
6,"Patel, ParthivParthiv Patel",Deccan Chargers,"$200,000","$650,000"
7,"Chandimal, DineshDinesh Chandimal",Rajasthan Royals,"$50,000","$50,000"
8,"Russell, AndreAndre Russell",Delhi Daredevils,"$50,000","$450,000"
9,"Johnson, MitchellMitchell Johnson",Mumbai Indians,"$300,000","$300,000"
10,"Singh, R. P.R. P. Singh",Mumbai Indians,"$200,000","$600,000"
11,"Kumar, VinayVinay Kumar",Royal Challengers Bangalore,"$100,000","$1,000,000"
12,Sreesanth,Rajasthan Royals,"$400,000","$400,000"
13,"Powar, RameshRamesh Powar",Kings XI Punjab,"$100,000","$160,000"
14,"Hogg, BradBrad Hogg",Rajasthan Royals,"$100,000","$180,000"
15,"Narine, SunilSunil Narine",Kolkata Knight Riders,"$50,000","$700,000"
16,"Peterson, RobinRobin Peterson",Mumbai Indians,"$100,000","$100,000"
17,"Harris, DanielDaniel Harris",Deccan Chargers,"$50,000","$70,000"
18,"Cooper, KevonKevon Cooper",Rajasthan Royals,"$50,000","$50,000"
19,"Faulkner, JamesJames Faulkner",Kings XI Punjab,"$100,000","$190,000"
20,"Mahmood, AzharAzhar Mahmood",Kings XI Punjab,"$100,000","$200,000"
21,"Perera, ThisaraThisara Perera",Mumbai Indians,"$50,000","$650,000"
22,"de Lange, MarchantMarchant de Lange",Kolkata Knight Riders,"$50,000","$50,000"
23,"Bravo, DarrenDarren Bravo",Deccan Chargers,"$100,000","$100,000"
24,"Bracewell, DougDoug Bracewell",Delhi Daredevils,"$50,000","$50,000"

In [71]:
auc_2013

,Player,Team,Base price,Winning bid
0,"Barnwell, ChristopherChristopher Barnwell",Mumbai Indians,"$50,000","$50,000"
1,"Botha, JohanJohan Botha",Delhi Daredevils,"$300,000","$450,000"
2,"Christian, DanielDaniel Christian",Royal Challengers Bangalore,"$100,000","$100,000"
3,"Clarke, MichaelMichael Clarke",Pune Warriors India,"$400,000","$400,000"
4,"Coulter-Nile, NathanNathan Coulter-Nile",Mumbai Indians,"$100,000","$450,000"
5,"Dananjaya, AkilaAkila Dananjaya",Chennai Super Kings,"$20,000","$20,000"
6,"de Kock, QuintonQuinton de Kock",Sunrisers Hyderabad,"$20,000","$20,000"
7,"Edwards, FidelFidel Edwards",Rajasthan Royals,"$100,000","$210,000"
8,"Faulkner, JamesJames Faulkner",Rajasthan Royals,"$100,000","$400,000"
9,"Gony, ManpreetManpreet Gony",Kings XI Punjab,"$200,000","$500,000"
10,"Henriques, MoisésMoisés Henriques",Royal Challengers Bangalore,"$100,000","$300,000"
11,"Holder, JasonJason Holder",Chennai Super Kings,"$20,000","$20,000"
12,"Hughes, PhillipPhillip Hughes",Mumbai Indians,"$100,000","$100,000"
13,"Laughlin, BenBen Laughlin",Chennai Super Kings,"$20,000","$20,000"
14,"Maxwell, GlennGlenn Maxwell",Mumbai Indians,"$200,000","$1,000,000"
15,"McCullum, NathanNathan McCullum",Sunrisers Hyderabad,"$100,000","$100,000"
16,"McKay, ClintClint McKay",Sunrisers Hyderabad,"$100,000","$100,000"
17,"McLaren, RyanRyan McLaren",Kolkata Knight Riders,"$50,000","$50,000"
18,"Mendis, AjanthaAjantha Mendis",Pune Warriors India,"$50,000","$725,000"
19,"Mendis, JeevanJeevan Mendis",Delhi Daredevils,"$50,000","$50,000"
20,"Morris, ChrisChris Morris",Chennai Super Kings,"$20,000","$625,000"
21,"Nannes, DirkDirk Nannes",Chennai Super Kings,"$200,000","$600,000"
22,"Nayar, AbhishekAbhishek Nayar",Pune Warriors India,"$100,000","$675,000"
23,"Oram, JacobJacob Oram",Mumbai Indians,"$50,000","$50,000"
24,"Perera, KusalKusal Perera",Rajasthan Royals,"$20,000","$20,000"
25,"Perera, ThisaraThisara Perera",Sunrisers Hyderabad,"$50,000","$675,000"
26,"Pomersbach, LukeLuke Pomersbach",Kings XI Punjab,"$50,000","$300,000"
27,"Ponting, RickyRicky Ponting",Mumbai Indians,"$400,000","$400,000"
28,"Rampaul, RaviRavi Rampaul",Royal Challengers Bangalore,"$50,000","$290,000"
29,"Richardson, KaneKane Richardson",Pune Warriors India,"$100,000","$700,000"
30,"Ryder, JesseJesse Ryder",Delhi Daredevils,"$100,000","$260,000"
31,"Sammy, DarrenDarren Sammy",Sunrisers Hyderabad,"$100,000","$425,000"
32,"Senanayake, SachithraSachithra Senanayake",Kolkata Knight Riders,"$50,000","$625,000"
33,"Singh, PankajPankaj Singh",Royal Challengers Bangalore,"$50,000","$150,000"
34,"Singh, R. P.R. P. Singh",Royal Challengers Bangalore,"$100,000","$400,000"
35,"Tyagi, SudeepSudeep Tyagi",Sunrisers Hyderabad,"$100,000","$100,000"
36,"Unadkat, JaydevJaydev Unadkat",Royal Challengers Bangalore,"$100,000","$525,000"

In [72]:
auc_2014

,Name,IPL 2014 Team,Reserve Price in Lakhs in INR,Auctioned Price in Lakhs in INR
0,Mitchell Johnson,Kings XI Punjab,200,650
1,Jacques Kallis,Kolkata Knight Riders,200,550
2,Kevin Pietersen,Delhi Daredevils,200,900
3,Virender Sehwag,Kings XI Punjab,200,320
4,Yuvraj Singh,Royal Challengers Bangalore,200,"1,400"
5,Murali Vijay,Delhi Daredevils,200,500
6,David Warner,Sunrisers Hyderabad,150,550
7,George Bailey,Kings XI Punjab,200,325
8,Faf du Plessis,Chennai Super Kings,150,475
9,Michael Hussey,Mumbai Indians,200,500
10,Dinesh Karthik,Delhi Daredevils,200,"1,250"
11,Zaheer Khan,Mumbai Indians,100,260
12,Brendon McCullum,Chennai Super Kings,200,325
13,Amit Mishra,Sunrisers Hyderabad,200,475
14,Darren Sammy,Sunrisers Hyderabad,100,350
15,Jean-Paul Duminy,Delhi Daredevils,100,220
16,Aaron Finch,Sunrisers Hyderabad,100,400
17,Brad Hodge,Rajasthan Royals,200,240
18,Shaun Marsh,Kings XI Punjab,200,220
19,Cheteshwar Pujara,Kings XI Punjab,150,190
20,Dwayne Smith,Chennai Super Kings,150,450
21,Ross Taylor,Delhi Daredevils,200,200
22,Manoj Tiwary,Delhi Daredevils,200,280
23,Robin Uthappa,Kolkata Knight Riders,200,500
24,Quinton de Kock,Delhi Dardevils,100,350
25,Naman Ojha,Sunrisers Hyderabad,50,50
26,Parthiv Patel,Royal Challengers Bangalore,100,275
27,Wriddhiman Saha,Kings XI Punjab,100,220
28,Shakib Al Hasan,Kolkata Knight Riders,100,280
29,Albie Morkel,Royal Challengers Bangalore,150,240
...,...,...,...,...
124,Karun Nair,Rajasthan Royals,10,75
125,Apoorv Vijay Wankhade,Mumbai Indians[REC],10,10
126,Amit Paunikar,Sunrisers Hyderabad,20,20
127,Dishant Yagnik,Rajasthan Royals,30,30
128,Akshar Patel,Kings XI Punjab,20,75
129,Jalaj Saxena,Mumbai Indians,20,90
130,Vijay Shankar,Chennai Super Kings,10,10
131,Beuran Hendricks,Kings XI Punjab,30,180
132,Vikramjeet Malik,Rajasthan Royals,20,20
133,Ronit More,Chennai Super Kings,10,10
134,Harshal Patel,Royal Challengers Bangalore[RTM],30,40
135,Veer Pratap Singh,Kolkata Knight Riders,20,40
136,Ashish Reddy,Sunrisers Hyderabad[REC],20,20
137,Pawan Suyal,Mumbai Indians,10,10
138,Sandeep Warrier,Royal Challengers Bangalore,10,10
139,Ankit Nagendra Sharma,Rajasthan Royals[REC],10,10
140,Ricky Bhui,Sunrisers Hyderabad[REC],10,10
141,Rahul Tewatia,Rajasthan Royals[REC],10,10
142,Jayant Yadav,Delhi Daredevils[REC],10,10
143,Amit Mishra,Rajasthan Royals[REC],10,10
144,Sachin Rana,Royal Challengers Bangalore[REC],20,20
145,HS Sharath[LAT],Delhi Daredevils[REC],10,10
146,Shivam Sharma[LAT],Kings XI Punjab[REC],10,10
147,Deepak Hooda[LAT],Rajasthan Royals[REC],10,40
148,Chama Milind,Sunrisers Hyderabad[REC],10,10
149,Shardul Thakur,Kings XI Punjab[REC],10,20
150,Tanmay Mishra,Royal Challengers Bangalore[REC],10,10
151,Sayan Sekhar Mondal,Kolkata Knight Riders[REC],10,10
152,Karanveer Singh,Kings XI Punjab[REC],10,10
153,Milind Kumar,Delhi Daredevils[REC],10,10

In [73]:
auc_2015

,Name,IPL 2015 team,Base Price,Auctioned price
0,Michael Hussey,Chennai Super Kings,150,150
1,Irfan Pathan,Chennai Super Kings,150,150
2,Rahul Sharma,Chennai Super Kings,30,30
3,Kyle Abbott,Chennai Super Kings,30,30
4,Andrew Tye,Chennai Super Kings,20,20
5,Pratyush Singh,Chennai Super Kings,10,10
6,Ankush Bains,Chennai Super Kings,10,10
7,Eklavya Dwivedi,Chennai Super Kings,10,10
8,Yuvraj Singh,Delhi Daredevils,200,1600
9,Angelo Mathews,Delhi Daredevils,150,750
10,Zaheer Khan,Delhi Daredevils,100,400
11,Amit Mishra,Delhi Daredevils,10,350
12,Shreyas Iyer,Delhi Daredevils,10,260
13,Gurinder Sandhu,Delhi Daredevils,30,170
14,Jaydev Unadkat,Delhi Daredevils,50,110
15,Domnic Joseph,Delhi Daredevils,10,75
16,Albie Morkel,Delhi Daredevils,30,30
17,Marcus Stoinis,Delhi Daredevils,20,25
18,CM Gautam,Delhi Daredevils,20,20
19,Srikar Bharat,Delhi Daredevils,10,10
20,KK Jiyas,Delhi Daredevils,10,10
21,Murali Vijay,Kings XI Punjab,50,300
22,Nikhil Naik,Kings XI Punjab,10,30
23,Yogesh Golwalkar,Kings XI Punjab,10,10
24,KC Cariappa,Kolkata Knight Riders,10,240
25,James Neesham,Kolkata Knight Riders,30,50
26,Brad Hogg,Kolkata Knight Riders,50,50
27,Aditya Garhwal,Kolkata Knight Riders,10,25
28,Sheldon Jackson,Kolkata Knight Riders,10,15
29,Sumit Narwal,Kolkata Knight Riders,10,10
...,...,...,...,...
36,Hardik Pandya,Mumbai Indians,10,10
37,Akshay Wakhare,Mumbai Indians,10,10
38,Nitish Rana,Mumbai Indians,10,10
39,Siddhesh Lad,Mumbai Indians,10,10
40,Jagadeesha Suchith,Mumbai Indians,10,10
41,Chris Morris,Rajasthan Royals,50,140
42,Rusty Theron,Rajasthan Royals,30,30
43,Brainder Sran,Rajasthan Royals,10,10
44,Dinesh Salunkhe,Rajasthan Royals,10,10
45,Sagar Trivedi,Rajasthan Royals,10,10
46,Pardeep Sahu,Rajasthan Royals,10,10
47,Dinesh Karthik,Royal Challengers Bangalore,200,1050
48,Darren Sammy,Royal Challengers Bangalore,100,280
49,David Wiese,Royal Challengers Bangalore,30,280
50,Sean Abbott,Royal Challengers Bangalore,50,100
51,Adam Milne,Royal Challengers Bangalore,30,70
52,Sarfaraz Khan,Royal Challengers Bangalore,10,50
53,Subramaniam Badrinath,Royal Challengers Bangalore,30,30
54,Jalaj Saxena,Royal Challengers Bangalore,10,10
55,Shishir Bhavane,Royal Challengers Bangalore,10,10
56,Trent Boult,Sunrisers Hyderabad,50,380
57,Praveen Kumar,Sunrisers Hyderabad,50,220
58,Kevin Pietersen,Sunrisers Hyderabad,200,200
59,Eoin Morgan,Sunrisers Hyderabad,150,150
60,Ravi Bopara,Sunrisers Hyderabad,100,100
61,Kane Williamson,Sunrisers Hyderabad,50,60
62,Laxmi Ratan Shukla,Sunrisers Hyderabad,30,30
63,Padmanabhan Prasanth,Sunrisers Hyderabad,10,10
64,Hanuma Vihari,Sunrisers Hyderabad,10,10
65,Siddarth Kaul,Sunrisers Hyderabad,10,10

In [74]:
auc_2016

,Player,team,Base Price,Winning bid
0,"Pietersen, KevinKevin Pietersen",Rising Pune Supergiant,200,300
1,"Smith, DwayneDwayne Smith",Gujarat Lions,50,230
2,"Sharma, IshantIshant Sharma",Rising Pune Supergiant,200,380
3,"Watson, ShaneShane Watson",Royal Challengers Bangalore,200,950
4,"Nehra, AshishAshish Nehra",Sunrisers Hyderabad,200,550
5,"Singh, YuvrajYuvraj Singh",Sunrisers Hyderabad,200,700
6,"Steyn, DaleDale Steyn",Gujarat Lions,150,230
7,"Samson, SanjuSanju Samson",Delhi Daredevils,200,420
8,"Buttler, JosJos Buttler",Mumbai Indians,150,380
9,"Karthik, DineshDinesh Karthik",Gujarat Lions,200,230
10,"Pathan, IrfanIrfan Pathan",Rising Pune Supergiant,100,100
11,"Morris, ChrisChris Morris",Delhi Daredevils,50,700
12,"Munro, ColinColin Munro",Kolkata Knight Riders,30,30
13,"Binny, StuartStuart Binny",Royal Challengers Bangalore,200,200
14,"Marsh, MitchellMitchell Marsh",Rising Pune Supergiant,200,480
15,"Kulkarni, DhawalDhawal Kulkarni",Gujarat Lions,200,230
16,"Hastings, JohnJohn Hastings",Kolkata Knight Riders,100,130
17,"Kumar, PraveenPraveen Kumar",Gujarat Lions,50,350
18,"Southee, TimTim Southee",Mumbai Indians,100,250
19,"Sharma, MohitMohit Sharma",Kings XI Punjab,150,650
20,"Brathwaite, CarlosCarlos Brathwaite",Delhi Daredevils,30,420
21,"Stoinis, MarcusMarcus Stoinis",Kings XI Punjab,30,55
22,"Rahman, MustafizurMustafizur Rahman",Sunrisers Hyderabad,50,140
23,"Unadkat, JaydevJaydev Unadkat",Kolkata Knight Riders,30,160
24,"Abbott, KyleKyle Abbott",Kings XI Punjab,30,210
25,"Sran, BarinderBarinder Sran",Sunrisers Hyderabad,50,120
26,"Mithun, AbhimanyuAbhimanyu Mithun",Sunrisers Hyderabad,30,30
27,"Singh, R. P.R. P. Singh",Rising Pune Supergiant,30,30
28,"Head, TravisTravis Head",Royal Challengers Bangalore,30,50
29,"Baby, SachinSachin Baby",Royal Challengers Bangalore,10,10
...,...,...,...,...
64,"Shankar, VijayVijay Shankar",Sunrisers Hyderabad,10,35
65,"Jakati, ShadabShadab Jakati",Gujarat Lions,20,20
66,"Karnewar, AkshayAkshay Karnewar",Royal Challengers Bangalore,10,10
67,"Nath, AkshdeepAkshdeep Nath",Gujarat Lions,10,10
68,"Sharma, MananManan Sharma",Kolkata Knight Riders,10,10
69,"Aparajith, BabaBaba Aparajith",Rising Pune Supergiant,10,10
70,"Chahar, DeepakDeepak Chahar",Rising Pune Supergiant,10,10
71,"Kamath, KishoreKishore Kamath",Mumbai Indians,10,140
72,"Sahu, PardeepPardeep Sahu",Kings XI Punjab,10,10
73,"Pandya, KrunalKrunal Pandya",Mumbai Indians,10,200
74,"Punia, DeepakDeepak Punia",Mumbai Indians,10,10
75,"Singh, SwapnilSwapnil Singh",Kings XI Punjab,10,10
76,"Ahmed, KhaleelKhaleel Ahmed",Delhi Daredevils,10,10
77,"Shah, JaydevJaydev Shah",Gujarat Lions,20,20
78,"Singh, PratyushPratyush Singh",Delhi Daredevils,10,10
79,"Dinda, AshokAshok Dinda",Rising Pune Supergiant,50,50
80,"Richardson, KaneKane Richardson",Royal Challengers Bangalore,200,200
81,"Badree, SamuelSamuel Badree",Royal Challengers Bangalore,50,50
82,"Paris, JoelJoel Paris",Delhi Daredevils,30,30
83,"Boland, ScottScott Boland",Rising Pune Supergiant,50,50
84,"Malik, VikramjeetVikramjeet Malik",Royal Challengers Bangalore,20,20
85,"Suyal, PawanPawan Suyal",Delhi Daredevils,10,10
86,"Zampa, AdamAdam Zampa",Rising Pune Supergiant,30,30
87,"Mishra, AmitAmit Mishra",Gujarat Lions,10,10
88,"Singh, JaskaranJaskaran Singh",Rising Pune Supergiant,10,10
89,"Milind, ChamaChama Milind",Delhi Daredevils,10,10
90,"Tokas, VikasVikas Tokas",Royal Challengers Bangalore,10,10
91,"Behardien, FarhaanFarhaan Behardien",Kings XI Punjab,30,30
92,"Herwadkar, AkhilAkhil Herwadkar",Delhi Daredevils,10,10
93,"Lomror, MahipalMahipal Lomror",Delhi Daredevils,10,10

In [75]:
auc_2017

                 Player                         team Base Price Winning bid
0           Eoin Morgan              Kings XI Punjab        200         200
1            Pawan Negi  Royal Challengers Bangalore         30         100
2        Angelo Mathews             Delhi Daredevils        200         200
3            Ben Stokes      Rising Pune Supergiants        200        1450
4        Corey Anderson             Delhi Daredevils        100         100
5       Nicholas Pooran               Mumbai Indians         30          30
6         Kagiso Rabada             Delhi Daredevils        100         500
7           Trent Boult        Kolkata Knight Riders        150         500
8           Tymal Mills  Royal Challengers Bangalore         50        1200
9           Pat Cummins             Delhi Daredevils        200         450
10     Mitchell Johnson               Mumbai Indians        200         200
11          Ankit Bawne             Delhi Daredevils         10          10
12       Tanmay Agarwal          Sunrisers Hyderabad         10          10
13        Mohammad Nabi          Sunrisers Hyderabad         30          30
14            K Gowtham               Mumbai Indians         10         200
15        Rahul Tewatia              Kings XI Punjab         10          25
16          Aditya Tare             Delhi Daredevils         20          25
17      Eklavya Dwivedi          Sunrisers Hyderabad         30          75
18     Aniket Choudhary  Royal Challengers Bangalore         10         200
19          T Natarajan              Kings XI Punjab         10         300
20          Nathu Singh                Gujarat Lions         30          50
21         Basil Thampi                Gujarat Lions         10          85
22             M Ashwin             Delhi Daredevils         10         100
23         Tejas Baroka                Gujarat Lions         10          10
24          Rashid Khan          Sunrisers Hyderabad         50         400
25         Pravin Tambe          Sunrisers Hyderabad         10          10
26         Chris Woakes        Kolkata Knight Riders        200         420
27          Karn Sharma               Mumbai Indians         30         320
28         Rishi Dhawan        Kolkata Knight Riders         30          55
29           Matt Henry              Kings XI Punjab         50          50
..                  ...                          ...        ...         ...
36         Chris Jordan          Sunrisers Hyderabad         50          50
37  Nathan Coulter-Nile        Kolkata Knight Riders        100         350
38        Praveen Dubey  Royal Challengers Bangalore         10          10
39        Navdeep Saini             Delhi Daredevils         10          10
40         Ben Laughlin          Sunrisers Hyderabad         30          30
41       Billy Stanlake  Royal Challengers Bangalore         30          30
42       Mohammed Siraj          Sunrisers Hyderabad         20         260
43         Rahul Chahar      Rising Pune Supergiants         10          10
44        Saurabh Kumar      Rising Pune Supergiants         10          10
45      Asela Gunaratne               Mumbai Indians         30          30
46     Daniel Christian      Rising Pune Supergiants        100         100
47        Rovman Powell        Kolkata Knight Riders         30          30
48         Darren Sammy              Kings XI Punjab         30          30
49          Munaf Patel                Gujarat Lions         30          30
50          Rinku Singh              Kings XI Punjab         10          10
51       Shashank Singh             Delhi Daredevils         10          10
52        Milind Tandon      Rising Pune Supergiants         10          10
53   Kulwant Khejroliya               Mumbai Indians         10          10
54          Chirag Suri                Gujarat Lions         10          10
55       R Sanjay Yadav        Kolkata Knight Riders         10          10
56      Shelley Shaurya                Gujarat Lions         10          10
57      Shubham Agarwal                Gujarat Lions         10          10
58         Ishank Jaggi        Kolkata Knight Riders         10          10
59       Rahul Tripathi      Rising Pune Supergiants         10          10
60        Pratham Singh                Gujarat Lions         10          10
61        Akshdeep Nath                Gujarat Lions         10          10
62      Lockie Ferguson      Rising Pune Supergiants         50          50
63         Manoj Tiwary      Rising Pune Supergiants         50          50
64         Darren Bravo        Kolkata Knight Riders         50          50
65          Sayan Ghosh        Kolkata Knight Riders         10          10

[66 rows x 4 columns]